{% extends 'layout.html' %} {% block title %} {{ params['blog_name'] }} - Coding
Guide {% endblock %} {% block header %}
<header
  class="masthead"
  style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{ params['blog_name'] }}</h1>
          <span class="subheading">login Page for user</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %} {% block body %}

<div class="text-center">
 
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-group">
              {{ form.email.label(class="form-control-label") }} {% if
              form.email.errors %} {{ form.email(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.password.label(class="form-control-label") }} {% if
              form.password.errors %} {{ form.password(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.password(class="form-control form-control-lg")
              }} {% endif %}
            </div>
            <div class="form-check">
              {{ form.remember(class="form-check-input") }} {{
              form.remember.label(class="form-check-label") }}
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }} 
            <small class="text-muted ml-2">
            <a href="/reset_request">Forgot Password?</a>
          </small>
          </div>
         
        </form>

        <small class="text-muted">
          Need An Account? <a class="ml-2" href="/register">Sign Up Now</a>
        </small>
      </div>
    </div>
  </div>
</body>
</div>
{% endblock %}
